{% extends 'layout.html' %}

     {% block header %}
     {% endblock %}

{% block content %}     
     <div class="container">
          <form action="/play" method="post">
               <label for="numerouno">Introduce un numero: </label>
               <input type="number"  name="numerouno" /><br>
               <label for="numerodos">Introduce otro numero: </label>
               <input type="number"  name="numerodos" /><br>
               <input type="submit" name="dado" value="Lanza el dado" />
          </form>
 
     </div>
 {% endblock %}

     {% block footer %}
     {% endblock %}